<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>UV Modal Demo</title>
</head>
<body>
  <script type="module">import '/js/core/register-web-components.js';</script>

  <h1>UV Modal Demo</h1>
  <uv-modal id="modal1">
    <div slot="">Hello from modal</div>
  </uv-modal>

  <uv-button id="openBtn">Open Modal</uv-button>

  <script>
    document.getElementById('openBtn').addEventListener('uv-click', () => {
      const modal = document.getElementById('modal1');
      modal.open();
    });
  </script>
</body>
</html>